//- html
//-     head
//-         title Admin
//-     script(src ='https://unpkg.com/react@18/umd/react.production.min.js', crossorigin)
//-     script(src ='https://unpkg.com/react-dom@18/umd/react-dom.production.min.js', crossorigin)
//-     script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js')
//-     script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js')
//-     link(href='https://cdnjs.cloudflare.com/ajax/libs/antd/4.19.5/antd.min.css' rel='stylesheet')
//-     link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' rel='stylesheet')
//-     link(href='/public/css/admin.css' rel='stylesheet')

//-     script(src='https://cdnjs.cloudflare.com/ajax/libs/ant-design-icons/4.7.0/index.umd.min.js')
//-     script(src='https://cdnjs.cloudflare.com/ajax/libs/antd/4.19.5/antd.min.js')

//-     script(src = '/public/js/admin.js' type='text/babel')
//-     body
//-         div#app
doctype html
head
  meta(charset='utf-8')
  link(rel='icon' href='/public/favicon.ico')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='theme-color' content='#000000')
  meta(name='description' content='Web site created using create-react-app')
  link(rel='apple-touch-icon' href='/public/logo192.png')
  link(rel='manifest' href='/public/manifest.json')
  title React App
  script(defer='defer' src='/public/static/js/main.84eb6065.js')
  link(href='/public/static/css/main.a8a6dc16.css' rel='stylesheet')
noscript You need to enable JavaScript to run this app.
#root
